.login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login form {
  width: 360px;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login form h1 {
  color: grey;
  margin-bottom: 20px;
}
.login form label {
  color: grey;
  font-size: 18px;
}
.login form input, .login form textarea {
  padding: 20px;
  border: 1px solid rgb(216, 214, 214);
}
.login form button {
  border: none;
  background-color: #1dbf73;
  color: white;
  padding: 20px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
.login form span {
  color: red;
  font-size: 12px;
}