.single {
  display: flex;
  width: 100%;
}
.single .singleContainer {
  flex: 6;
}
.single .singleContainer .top {
  padding: 1.4rem;
  display: flex;
  gap: 1.4rem;
}
.single .singleContainer .top .left {
  flex: 1;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.67);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.77);
  padding: 0.7rem;
  position: relative;
}
.single .singleContainer .top .left .editBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4rem;
  font-size: 0.8rem;
  color: #7451f8;
  background-color: rgba(117, 81, 248, 0.1803921569);
  border-radius: 0 0 0 0.3rem;
  cursor: pointer;
}
.single .singleContainer .top .left .item {
  display: flex;
  gap: 1.4rem;
}
.single .singleContainer .top .left .item .itemImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.single .singleContainer .top .left .item .details .itemTitle {
  margin-bottom: 0.4rem;
  color: grey;
  font-size: 1.8rem;
}
.single .singleContainer .top .left .item .details .detailItem {
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
}
.single .singleContainer .top .left .item .details .detailItem .itemKey {
  font-weight: bold;
  color: grey;
  margin-right: 0.4rem;
}
.single .singleContainer .top .left .item .details .detailItem .itemValue {
  font-weight: 300;
}
.single .singleContainer .top .right {
  flex: 2;
}
.single .singleContainer .bottom {
  padding: 1.4rem;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.67);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.77);
  padding: 0.7rem;
  margin: 0.8rem 1.4rem;
}
.single .singleContainer .title {
  font-size: 1rem;
  color: lightgrey;
  margin-bottom: 1.4rem;
}