body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.slider-container {
  margin: 300px auto;

  width: 600px;
}
.person-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid rgb(205, 126, 233);
  margin: 0px 220px;
}
.name {
  text-transform: uppercase;
  color: rgb(205, 126, 233);
  text-align: center;
  font-size: 19px;
  margin-top: 10px;
  letter-spacing: 1px;
}
.title {
  text-align: center;
  text-transform: capitalize;
  margin-top: -20px;
  color: rgb(79, 77, 77);
  font-size: 17px;
}
.text {
  text-align: center;
  color: rgb(115, 114, 114);
}
.icon {
  color: rgb(146, 33, 187);
  margin: 0px 47%;
  font-size: 40px;
}
.btn {
  display: flex;
  justify-content: space-between;
  margin-top: -250px;
}
.prev,
.next {
  color: white;
  background-color: rgb(146, 33, 187);
  border: 1px solid rgb(146, 33, 187);
  border-radius: 6px;
  width: 40px;
  font-size: 20px;
}
