body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: rgb(235, 235, 235);
}
:root {
  --color-orange: orange;
  --color-primary-black: black;
  --color-white: #fff;
  --color-green: darkgreen;
}
p {
  margin: 4%;
  color: grey;
  font-size: 0.9rem;
}
h4,
h5 {
  margin: 2%;
}
.btn {
  padding: 0.4rem 1rem;
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: 4px;
  text-decoration: none;
}
.title {
  font-size: 1.2rem;
  color: var(--color-green);
}

ul li {
  list-style-type: none;
  text-decoration: none;
}
li a {
  text-decoration: none;
}

.navbar {
  margin: 0 auto;
  border-bottom: 2px solid var(--color-green);
  background-color: var(--color-white);
}
.nav-container img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid var(--color-orange);
}
.nav-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
}
.nav-links li a {
  color: var(--color-green);
  font-weight: 600;
}
.logo-title {
  color: var(--color-green);
  font-size: 1.2rem;
  font-weight: 900;
}
.about-section,
.error-section {
  width: 90%;
  text-align: center;
  margin: 3rem auto;
  color: var(--color-primary-black);
}
.error {
  color: var(--color-green);
  text-align: center;
}
.about-section p {
  text-align: center;
  padding: 2% 5%;
}
.section-title {
  text-align: center;
}
.cocktails-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 90%;
  margin: 0 auto;
}
.cocktail {
  border-radius: 0.2rem;
  width: 100%;
  box-shadow: 3px 3px 8px 2px rgba(110, 110, 110, 0.81);
  overflow: hidden;
}
img {
  width: 100%;
  height: 180px;
}
.info-container {
  padding: 1rem 4%;
}

.btn-more {
  padding: 0.2rem 0.7rem;
}
.search-form {
  padding: 1rem 2.5rem;
  box-shadow: 3px 3px 8px 2px rgba(110, 110, 110, 0.81);
  width: 65%;
  margin: 1rem auto;
}
form {
  display: flex;
  flex-direction: column;
  align-items: start;
}
form label {
  font-weight: 600;
  color: var(--color-green);
  margin-bottom: 0.5rem;
}
form input {
  width: 100%;
  background-color: rgb(212, 254, 212);
}

@media screen and (min-width: 350px) {
  .nav-container {
    justify-content: space-between;
  }
  .logo-title {
    font-size: 1.4rem;
  }
  .nav-links {
    gap: 1rem;
  }
  .title {
    font-size: 1.4rem;
  }
  .cocktails-list {
    width: 80%;
  }
  img {
    width: 100%;
    height: 200px;
  }
}
@media screen and (min-width: 450px) {
  .nav-container {
    justify-content: space-between;
  }
  .logo-title {
    font-size: 1.6rem;
  }
  .nav-links {
    gap: 3rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .cocktails-list {
    width: 70%;
  }
  img {
    width: 100%;
    height: 220px;
  }
  .search-form {
    width: 50%;
  }
}
@media screen and (min-width: 720px) {
  .nav-container {
    justify-content: space-around;
  }
  .logo h3 {
    font-size: 1.6rem;
  }
  .nav-links {
    gap: 4rem;
  }
  .title {
    font-size: 1.7rem;
  }
  .about-section,
  .error-section {
    width: 55%;
  }
  .cocktails-list {
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
  }
  .cocktail {
    width: 90%;
  }
  .search-form {
    width: 40%;
  }
}
