@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto+Slab:wght@100;200;300;400;500&family=Sono:wght@200;300;400;500&display=swap");

:root {
  --primary-color: rgb(62, 60, 60);
  --secondary-color: rgb(90, 89, 89);
  --orange-color: rgb(248, 177, 46);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--primary-color);
  color: white;
  /* color: var(--orange-color); */
}
.btn {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
}
.btn:hover {
  background-color: var(--primary-color);
}
.app {
  max-width: 100%;
  height: 100vh;
}
.about,
.notFound {
  text-align: start;
  margin: auto 10%;
  padding-top: 200px;
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  font-size: 40px;
}
p {
  font-size: 20px;
}
h2 {
  color: white;
}
.btnPrimary {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.hero {
  background-color: var(--secondary-color);
  padding: 6px 10px;
  border-radius: 6px;
  border: 2px solid var(--secondary-color);
  margin: 40px 0px;
  width: 200px;
  display: flex;
  align-items: center;
}
.btnPrimary:hover {
  color: var(--orange-color);
}
.users {
  margin: 100px 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.spinner {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.card {
  border-bottom: 1px solid var(--secondary-color);
  width: 300px;
  box-shadow: 3px 3px 10px 1px var(--secondary-color);
  display: flex;
  flex-direction: row;
  gap: 25px;
  border-radius: 6px;
  padding: 10px;
}
.link-profile {
  text-decoration: none;
  color: rgba(255, 194, 81, 0.644);
  font-size: 16px;
  /* letter-spacing: 1px; */
}
.profile-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.search {
  text-align: start;
  margin: 200px 15%;
  margin-bottom: 50px;
  /* border: 1px solid black; */
  padding: auto 80px;
  /* width: 500px; */
  /* display: flex; */
}
input {
  width: 60%;
  border-radius: 6px;
  padding: 12px;
  border: var(--orange-color) 3px solid;
}
.form-control {
  max-width: 90%;
  display: flex;
  flex-direction: row;
}
.btn-search {
  width: 27%;
  border-radius: 6px;
  padding: 12px;
  font-weight: 600;
  margin-left: 2%;
  border: var(--orange-color) 3px solid;
  background-color: var(--orange-color);
  color: var(--primary-color);
  letter-spacing: 1px;
  font-size: 14px;
}
.btn-search:hover,
.btn-clear:hover {
  background-color: var(--secondary-color);
  color: var(--orange-color);
  border: black 3px solid;
}
.btn-clear {
  width: 20%;
  border-radius: 6px;
  padding: 12px;
  font-weight: 600;
  margin-left: 20%;
  border: var(--orange-color) 2px solid;
  background-color: black;
  color: white;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 10px;
}
.alert-msg {
  color: var(--orange-color);
  font-weight: 700;
  margin: 10px 0%;
}
.user-card {
  /* border: 1px solid white; */
  margin: 200px 10%;
}
.user-info {
  margin-top: 40px;
  display: flex;
  gap: 15px;
  /* align-items: center; */
}
.name {
  color: orange;
  font-size: 30px;
}
.nickname {
  margin-top: -30px;
  margin-left: -40px;
  text-align: center;
}
.back {
  margin: 200px 0%;
  color: var(--orange-color);
  border: 3px solid var(--secondary-color);
  padding: 8px 16px;
  width: 170px;
  border-radius: 6px;
  text-decoration: none;
}
.back:hover {
  background-color: var(--secondary-color);
}
.image {
  border-radius: 4px;
  height: 200px;
  width: 200px;
  opacity: 0.45;
}
span {
  font-size: 12px;
  color: black;
  background-color: rgba(255, 193, 77, 0.694);
  margin-left: 10px;
  padding-left: 2px;
  padding-right: 2px;
}
.location-info {
  padding: 10px 0;
  /* width: 620px; */
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.location-place,
.blog {
  padding: 10px;
  color: white;
  box-shadow: 0px 5px 10px 0px var(--secondary-color);
  border-bottom: 1px solid black;
  /* width: 300px; */
}
.visit {
  margin-top: 30px;
  border: 1px solid var(--orange-color);
  padding: 8px 16px;
  width: 200px;
  border-radius: 6px;
}
.visit a {
  color: var(--orange-color);
  text-decoration: none;
}
.visit:hover {
  background-color: var(--secondary-color);
}
.stat {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.blog-box {
  box-shadow: 5px 0px 10px 5px var(--secondary-color);
  border-bottom: 1px solid black;
  display: flex;
  width: 280px;
  padding: 2px 10px;
  justify-content: space-between;
}
.icon {
  font-size: 38px;
  color: var(--orange-color);
}
.repo-list {
  margin-top: 30px;
}
.list-title {
  padding: 15px 0;
  font-size: 30px;
}
.repo-item {
  box-shadow: 0px 0px 10px 5px var(--secondary-color);
  border-bottom: 1px solid black;
  padding: 4px 15px;
  margin: 20px auto;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.single-repo{
  margin-left:40px
}
.repo-name {
  margin-left: 10px;
  margin-bottom: 6px;
}

