body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--color-gray);
  box-sizing: border-box;
}
:root {
  --color-primary: rgb(0, 187, 0);
  --color-black: black;
  --color-white: #fff;
  --color-gray: rgb(228, 228, 228);
}
a {
  text-decoration: none;
}
.navbar {
  background-color: var(--color-white);
  position: fixed;
  bottom: 0px;
  left: 0;
  height: 5rem;
  width: 100%;
  margin: 0 auto;
}
.navbarBox {
  margin: 0.45rem auto;
  padding: 0;
}
.navbarListItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}
.navbarListItems .navbarListItem {
  list-style-type: none;
}
.navbarListItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbarListItemNameActive {
  color: #2c2c2c;
}
.navbarListItemName {
  color: #8f8f8f;
}
/* SighIn  */
.page-container,
.explore-container {
  width: 90%;
  margin: 1rem auto;
  text-align: start;
}
.header {
  font-weight: 700;
  font-size: 1.2rem;
}
main {
  text-align: start;
}
.email-container {
  margin: 0.5rem auto;
  width: 100%;
}
.name-container .nameInput,
.email-container .emailInput,
.password-container .passwordInput {
  margin: 0.4rem auto;
  padding: 0.6rem 3rem;
  width: 75%;
  border-radius: 1rem;
  border: none;
}
.email-container input {
  background: url("./assets/svg/personIcon.svg") var(--color-white) 2.5% center
    no-repeat;
}
.password-container input {
  background: url("./assets/svg/lockIcon.svg") var(--color-white) 2.5% center
    no-repeat;
}
.name-container input {
  background: url("./assets/svg/badgeIcon.svg") var(--color-white) 2.5% center
    no-repeat;
}

.password-container {
  position: relative;
}
.password-container img {
  position: absolute;
  top: 0.8rem;
  right: 6%;
}
.forgot-link {
  text-align: end;
  padding: 1.2rem;
  width: 87%;
}
.forgot-link a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;
}
.signInBar,
.signUpBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.signIn,
.signUp {
  border-radius: 50%;
  background-color: var(--color-primary);
  border: none;
}
.signInText,
.signUpText {
  font-weight: 700;
  padding: 1rem;
}
.register-link {
  text-align: center;
  margin: 9rem 0;
}
.register-link a {
  font-weight: 600;
  color: var(--color-primary);
}

/* Profile  */
.profile-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.page-header {
  font-weight: 700;
  font-size: 1.5rem;
}
.logout {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 1rem;
  font-weight: 600;
}
.profile-title {
  font-weight: 600;
}
.profile-details {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.profile-card form {
  border: 1px solid var(--color-white);
  padding: 0.8rem;
  border-radius: 0.5rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--color-white);
  gap: 0.4rem;
}
.profile-card form .profileName,
.profile-card form .profileEmail {
  border: none;
  padding: 0.3rem;
  color: var(--color-black);
  font-weight: 600;
}
.profile-card form .profileName {
  text-transform: capitalize;
}
.profile-card form .profileNameActive,
.profile-card form .profileEmailActive {
  border: var(--color-black) 1px solid;
  background-color: var(--color-gray);
}
.social-login {
  margin: 4rem auto;
  text-align: center;
}
.socialIconDiv {
  margin: 0 auto;
  display: flex;
  border: none;
  background-color: transparent;
}
.socialIconDiv img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  padding: 0.5rem;
  background-color: var(--color-white);
}
.personal-details {
  color: var(--color-primary);
  font-weight: 600;
}
.loading-spinner {
  width: 3rem;
  height: 3rem;
  border: 2rem solid var(--color-gray);
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Explore  */
.explore-container {
  width: 90%;
  text-align: start;
  margin: 1rem auto;
}
.exploreCategoryHeading {
  font-weight: 600;
  width: 90%;
  text-align: start;
  margin: 0rem 3rem;
}
.header {
  width: 90%;
  text-align: start;
  margin: 1rem auto;
}
.exploreCategories {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.explore-img {
  width: 100%;
  border-radius: 1rem;
  height: 200px;
}
.explore-name {
  color: var(--color-black);
  cursor: pointer;
  font-weight: 700;
  font-size: 0.8rem;
}
.category {
  width: 100%;
}
.category-listing-item {
  margin-left: -20px;
  width: 100%;
}
.categoryListingLocation {
  font-size: 0.8rem;
  margin-bottom: 0;
}
.categoryListingName {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0;
}
.category-listing-link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.categoryListingPrice{
color: var(--color-primary);
font-weight: 600;
margin-top: -10px;
}
.categoryListing-img {
  width: 40%;
  height: 110px;
  border-radius: 1rem;
}
.categoryListingDetails {
  color: var(--color-black)
}
.listing-info{
  display: flex;
  justify-content: start;
  align-items:center;
  margin-top: -30px;
}
@media screen and (min-width: 600px) {
  .page-container {
    width: 45%;
  }
  .password-container img {
    right: 7%;
  }
  .profile-header {
    width: 45%;
  }
  .profile-details {
    width: 45%;
  }
  .profile-card form {
    width: 45%;
  }
  .exploreCategories {
    flex-direction: row;
  }
  .explore-container .exploreCategoryHeading,
  .header {
    width: 80%;
    text-align: center;
  }
}
@media screen and (min-width: 1040px) {
  .page-container {
    width: 40%;
  }
  .password-container img {
    right: 12%;
  }
  .explore-container,
  .exploreCategoryHeading,
  .header {
    width: 60%;
    text-align: center;
  }
  .explore-img {
    height: 250px;
  }
}
