body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  background-color: rgb(233, 246, 246);
}
.title {
  margin-top: 30px;
  font-size: 32px;
  text-align: center;
}
.title-underline {
  height: 4px;
  width: 80px;
  background-color: rgb(243, 177, 55);
  margin: 10px auto;
}
.section-center {
  /* grid-template-rows: 350px; */
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.menu-item {
  width: 350px;
  height: 370px;
  text-align: start;
  background-color: white;
}
/* header{display: flex;} */
.image {
  width: 350px;
  height: 190px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
h5 {
  display: inline-block;
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
}
.item-price {
  background-color:  rgb(243, 177, 55);
  border-radius: 6px;
  padding: 4px 6px;
  color: white;
}

.item-text {
  text-align: center;
  color: gray;
}
.btn-container{
  justify-content: center;
  margin: 30px auto;
  display: flex;
gap:20px
}
.btn{
  border: 2px solid  rgb(243, 177, 55) ;
  background-color: rgb(243, 177, 55);
  color: white;
  border-radius: 6px;
  padding: 6px 10px;
  text-transform: capitalize;
}
.btn:hover{
  background-color: white;
  color:  rgb(205, 142, 23);
}
