body {
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
 
}
.container{
  margin: 250px 200px;
  width: 800px;

}
h4{
  text-transform:uppercase;
}
#amount{
  background-color: rgb(194, 221, 247);
  width: 50px;
  border: none;
  margin:10px;
  padding: 4px;
}
.btn{
  border: none;
background-color: rgb(38, 128, 38);
color: white;
padding: 4px;
border-radius: 4px;
font-weight: bold;
}
