body {
  margin: 0;
  font-family: "Fira Sans" sans-serif;
  box-sizing: border-box;
  background-color: var(--color-light);
}
:root {
  --color-primary: rgb(254, 67, 98);
  --color-secondary: rgb(160, 0, 160);
  --color-black: black;
  --color-light: #eee;
  --color-white: white;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 1rem;
}
.calculator {
  background-color: var(--color-white);
  width: 100%;
  max-width: 400px;
  border-radius: 0.4rem;
  overflow: hidden;
}
.display {
  padding: 1rem 0.8rem;
  text-align: right;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 300;
}
span {
  opacity: 0.3;
}
button {
  border: none;
  appearance: none;
  outline: none;
  color: var(--color-light);
  font-size: 1.6rem;
  cursor: pointer;
  padding: 0.8rem;
  transition: 0.4s;
}
button:hover {
  opacity: 0.7;
}
.operators {
  display: flex;
}
.operators button {
  flex: 1 1 0%;
  background-color: var(--color-primary);
}
.digits {
  display: flex;
  flex-wrap: wrap;
}
.digits button {
  flex: 1 1 33.333%;
  background-color: var(--color-black);
  /* max-width: 33.33%; */
}
