.dataTable {
  height: 600px;
  padding: 1.4rem;

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 2rem;
      height: 2rem;
      margin-right: 1.2rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .cellWithStatus {
    padding: 0.4rem;
    border-radius: 0.4rem;
    &.active {
      background-color: rgba(0, 128, 0, 0.177);
      color: green;
    }
    &.pending {
      background-color: rgba(218, 165, 32, 0.184);
      color: goldenrod;
    }
    &.passive {
      background-color: rgba(220, 20, 60, 0.16);
      color: crimson;
    }
  }
  .cellAction {
    display: flex;
    align-items: center;
    gap: 1rem;

    .viewBtn {
      padding: 0.1rem 0.4rem;
      color: darkblue;
      border-radius: 0.4rem;
      border: 1px solid rgba(0, 0, 139, 0.448);
      cursor: pointer;
    }
    .deleteBtn {
        padding: 0.1rem 0.4rem;
        color: crimson;
        border-radius: 0.4rem;
        border:1px solid crimson }
        cursor: pointer;
    }
}
