.widget {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0.7rem;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.67);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.77);
  border-radius: 0.5rem;
  height: 100px;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 0.9rem;
      color: rgb(161, 159, 159);
    }

    .counter {
      font-size: 1.4rem;
      font-weight: 300;
    }

    .link {
      width: max-content;
      font-size: 0.8rem;
      border-bottom: 1px solid grey;
    }

    .percentage {
      display: flex;
      align-items: center;
      font-size: 0.9rem;

      &.positive{
        color: green;
      }

      &.negative{
        color: red;
      }
    }
    .icon{
        font-size: 1.1rem;
        padding: 0.4rem;
        align-self: flex-end;
        border-radius: 0.4rem;
    }
  }
}
