body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  max-width: 1140px;
  background-color: rgb(228, 228, 251);
  margin: 50px auto;
}
.form-container {
  text-align: start;
  margin:0 10%
}
input {
  width: 55%;
  padding: 3px 6px;
  
}
.loading{
  text-align: center;
  font-size:24px
}
.movie-container {
  /* border: solid 1px black; */
  margin: 10%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  justify-content: inherit;
  gap: 25px;
}
.movie-item{
  width: 180px;
  position: relative;
  /* overflow:hidden ; */
}
.movie-item img {
  border: 1px solid black;
  width: 180px;
  height: 250px;
}
.info{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  position: absolute;
  bottom: 5px; 
  left:0;
  width: 170px;
  height: 140px;
  overflow: hidden;
  font-weight: 600;
  transition: all 0.3s linear;
  transform: translateY(100%);
  visibility: hidden;
  padding: 5px 5px;
}
.info a{
  color: white;
  /* text-decoration: none; */
}
.movie-item:hover .info{
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.632);
visibility: visible;
}
.error{
  margin-top: -5px;
  color:red;
} 