body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: rgb(250, 246, 241);
}
.container {
  margin: 30px 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 25px;
}
h4 {
  text-transform: capitalize;
}
.btn {
  background-color: blue;
  color: #ffffff;
  padding: 6px 8px;
  border: none;
  border-radius: 3px;
  border: 1px solid blue;
  font-weight: 600;
}
input {
  padding: 4px 6px;
  border-radius: 3px;
}
.head {
  border: none;
}
